{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Simule o plano mais econômico!</title>

        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.0.0-beta-dist/css/bootstrap.min.css' %}" media="screen">
        <link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}" charset="utf-8">
    </head>

    <body>

        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap-4.0.0-beta-dist/js/bootstrap.min.js' %}" charset="utf-8">
</html>
