{% extends "tarifas/base.html" %}

{% block content %}
{% include "tarifas/navbar.html" %}
<nav class="navbar navbar-light bg-light">
    <form action="/" method="GET">
    <div class="row">
        <div class="col">
            <label for="min_minutes">Consumo mínima</label>
            <input name="min_minutes" value="{{ params.min_minutes }}" class="form-control form-control-sm" type="number" placeholder="Consumo em min">
        </div>
        <div class="col">
            <label for="min_mb">Dados (MB)</label>
            <input name="min_mb" value="{{ params.min_mb }}" class="form-control form-control-sm" type="number" placeholder="Consumo em MB">
        </div>
        <div class="col">
            <label for="min_sms">SMS's</label>
            <input name="min_sms" value="{{ params.min_sms }}" class="form-control form-control-sm" type="number" placeholder="Consumo total">
        </div>
        <p class="float-right">
            <br />
            <button class="btn btn-primary" type="submit">Pesquisar</button>
        </p>
    </div>
    </form>
</nav>

<hr />

{% if not data.cheapest %}
    <div class="alert alert-danger" role="alert">
    Não há um plano que atenda suas demandas!
    </div>
{% else %}
    <div class="alert alert-success" role="alert">
        Encontrado plano para um <strong>consumo mínimo</strong>
        <i>
        {% if params.min_minutes %}{% spaceless %}
        de {{ params.min_minutes }} mins,
        {% endspaceless %}{% endif %}
        {% if params.min_mb %}{% spaceless %}
        de {{ params.min_mb }} MB,
        {% endspaceless %}{% endif %}
        {% if params.min_sms %}{% spaceless %}
        de {{ params.min_sms }} SMS
        </i>
        {% endspaceless %}{% endif %}
    </div>
    <h2>Plano mais econômico</h2>
    {% include "tarifas/package.html" with package=data.cheapest class='cheapest' %}
    <h4>Outras opções</h4>
    {% for package in data.other_options %}
        {% include "tarifas/package.html" with package=package class='others' %}
    {% endfor %}
{% endif %}
{% endblock content %}
