<table class="table {{ class }}">
    <thead class="thead-default">
        <tr>
            <th>Plano</th>
            <th>Minutos</th>
            <th>Dados</th>
            <th>SMS</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" nowrap>{{ package.plan }}</th>
            <td>{{ package.plan.minutes_franchise }} min</td>
            <td>{{ package.plan.data_display }}</td>
            <td>{{ package.plan.sms_pack }}</td>
            <td>R$ {{ package.plan.value }}</td>
        </tr>
        {% for data_plan in package.data_plans %}
        <tr>
            <th scope="row" nowrap>+ Dados</th>
            <td>-</td>
            <td>{{ data_plan }}</td>
            <td>-</td>
            <td>R$ {{ data_plan.value }}</td>
        </tr>
        {% endfor %}
        {% if package.sms_plan %}
        <tr>
            <th scope="row" nowrap>+ SMS</th>
            <td>-</td>
            <td>-</td>
            <td>{{ package.sms_plan }}</td>
            <td>R$ {{ package.sms_plan.value }}</td>
        </tr>
        {% endif %}
        <tr class="bg-light">
            <th scope="row">Total</th>
            <td>{{ package.plan.minutes_franchise }} min</td>
            <td>{{ package.total_data }}</td>
            <td>{{ package.total_sms }}</td>
            <td><strong>R$ {{ package.total_value }}</strong></td>
        </tr>
    </tbody>
</table>
